Hello,

You are receiving this email because you are a maintainer of {{ .Package }}.
The package is owned by a user named {{ .Admin }}, which is a legacy user
account that is not tied to a real person.

